/* Import component styles */
@import "./components/navbar/Header.scss";
@import "./components/navbar/Sidebar.scss";
@import "./page/Dashboard.scss";

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 16rem;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 4rem;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s;
  margin-left: 16rem;
}

.main-content.collapsed {
  margin-left: 4rem;
}

.header {
  position: fixed;
  top: 0;
  left: 16rem;
  right: 0;
  height: 5rem; /* Header height */
  padding: 0 1.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: left 0.3s;
}

.header.collapsed {
  left: 4rem; /* Adjust this value according to your collapsed sidebar width */
}

